.btn{
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 12px;
}
.btn-text{
  color: #409eff;
  background-color: transparent;
}
.btn-text:hover{
  color: #66b1ff;
}
.tabs{
  margin: 0;
  padding: 0;
  list-style: none;
}
.per-tab{
  display: inline-block;
  width: 120px;
  line-height: 32px;
  border-top: 1px solid #ccc;
}
.per-tab:last-child{
  border-right: 1px solid #ccc;
}
.tab-content{
  height: 240px;
  border: 1px solid #ccc;
}